<footer class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-md-4">
          <h4 class="text-white">Workplace Search</h4>
        </div>
        <div class="col-md-2">
          <h5 class="text-white">Brand</h5>
          <ul class="list-unstyled">
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
          </ul>
          </div>
        <div class="col-md-2">
          <h5 class="text-white">More</h5>
          <ul class="list-unstyled">
            <li><a href="#">FAQ&'s</a></li>
            <li><a href="#">Privacy & Policy</a></li>
            <li><a href="#">Warrantry</a></li>
            <li><a href="#">Shipment</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-white">Pages</h5>
          <ul class="list-unstyled">
            <li>Address: Marunouchi, 1-9-1, Chiyoda-ku, Tokyo, Japan</li>
            <li>Email: test@gmail.com</li>
            <li>Phone: 111-222-333</li>
          </ul>
        </div>
      </div>
    </div>
</footer>