<footer class="second-footer-top">
    <div class="container">
        <div class="col-md-12 mx-auto mb-5 text-center ">
          <h4 class="text-white">Workplace Search</h4>
        </div>
          <ul class="list-unstyled d-flex justify-content-end">
            <li class= "ms-3"><a href="#">利用規約</a></li>
            <li class= "ms-3"><a href="#">特定商取引法に基づく表示</a></li>
            <li class= "ms-3"><a href="#">コミュニティガイドライン</a></li>
            <li class= "ms-3"><a href="#">プライバシーポリシー</a></li>
          </ul>
    </div>
</footer>
