<%= render "shared/header" %>

<!-- Services section -->
  <section id="services">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-8 mx-auto text-center">
          <h1>Services</h1>
          <p>
            今日はどこで仕事する？
          </p>
        </div>
      </div>
      <div class="row g-4">
        <div class="col-lg-12 col-sm-6">
          <div class="service card-effect ">
            <%= link_to '',  maps_places_path %>
            <div class="iconbox">
              <i class='bx bx-map'></i>
            </div>
            <h5 class="mt-4 mb-2">地図から探す</h5>
            <p>
              Google map上から今のあなたにピッタリな場所が探せます
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service card-effect">
            <div class="iconbox">
              <i class='bx bx-area' ></i>
            </div>
            <h5 class="mt-4 mb-2">エリアから探す</h5>
            <p>
              都道府県、路線などのエリア検索します
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service card-effect">
            <div class="iconbox">
              <i class='bx bxs-keyboard'></i>
            </div>
            <h5 class="mt-4 mb-2">キーワードで探す</h5>
            <p>
              キーワードでフリー検索します
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service card-effect">
            <div class="iconbox">
              <i class='bx bx-search'></i>
            </div>
            <h5 class="mt-4 mb-2">特徴から探す</h5>
            <p>
              施設の特徴から探します
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


<%= render "shared/footer" %>
