
<%= render "shared/header" %>

<h1 class= "text-center my-3" >地図から探す</h1>

  <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"/>
  
  <div id="map"></div>

<%= render "shared/footer" %>
